<template name="todos">
    <div class="container">
        <form id="newTodo">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <input class="form-control" type="text" name="todo">
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success " type="submit">Add</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    {{#each allTodos}}
                        <li class="list-group-item">
                            <input type="checkbox" id="{{_id}}" class="checkTodo">
                            <label for="{{_id}}" class="{{#if checked}}checked{{/if}}">{{text}}</label>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
